@using BankruptcyLaw.Data.Models.Enums
@model BankruptcyLaw.Web.ViewModels.Hearings.CreateHearingViewModel
@{
    ViewData["Title"] = "Add a new Hearing manually";
}

<h1>@this.ViewData["Title"]</h1>
<hr />
@if (this.ViewData["message"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @this.ViewData["message"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
<div class="row mt-4 mb-4">
    <form class="col-6 col-lg-9" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HearingDateAndTime"></label>
            <input type="datetime-local" asp-for="HearingDateAndTime" class="form-control">
            <span asp-validation-for="HearingDateAndTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Outcome"></label>
            <select asp-for="Outcome" class="form-control" asp-items="Html.GetEnumSelectList<HearingOutcome>()"> </select>
            <span asp-validation-for="Outcome" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CaseNumber"></label>
            <input asp-for="CaseNumber" class="form-control">
            <span asp-validation-for="CaseNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="HearingAddress"></label>
            <input asp-for="HearingAddress" class="form-control">
            <span asp-validation-for="HearingAddress" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-block btn-primary">Add Hearing</button>
    </form>
</div>

